import './{{camelCase name}}';

/* eslint-disable-next-line */
export interface {{pascalCase name}}Props {}

export function {{pascalCase name}}() {
  return (
    <div className="{{camelCase name}}">
      <h1>Welcome to, {{pascalCase name}}</h1>
    </div>
  );
}

export default {{pascalCase name}};